.bannerimage{
    width: 100%;
    height: 240px;
    background-image: url(https://media1.giphy.com/media/NKEt9elQ5cR68/giphy.gif?cid=790b7611925abb3aa9c48627f8a7b2e2bae22e7d70a83619&rid=giphy.gif&ct=g);
    background-repeat: round;
    background-origin: content-box; 
}

.div-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.div-container>.div-style {
    flex: 1 1 20%;
    margin: 5px;
    padding: 10px;
    
  }

.div-style {
    text-align: center;
}

a{
    color:ghostwhite;
}

.background{
    background: linear-gradient(178deg, #535bc9, #b944c4,#4489ca);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    -o-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@keyframes AnimationName {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
