.backgroundhome{
    background-image: url(https://thumbs.gfycat.com/RingedSpicyKodiakbear-size_restricted.gif);
    color: white;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.home{
    text-align: center;
    font-size: large;
    
}

.vaultimage{
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    position: absolute; right: 0;
}

